target
.settings
.project
.classpath
.idea
pom.xml.versionsBackup
pom.xml.releaseBackup
nb-configuration.xml
~*
*.tmp
*.log
*.iml
/features/mtwilson-trustagent-setup/nbproject/
/packages/trustagent-windows/src/service/TrustAgent/bin
/packages/trustagent-windows/src/service/TrustAgent/obj
/packages/trustagent-windows/src/systemtray/TrustAgentTray/bin
/packages/trustagent-windows/src/systemtray/TrustAgentTray/obj
/packages/trustagent-windows/src/nsis/TrustAgent.exe
/packages/trustagent-windows/src/nsis/TrustAgentTray.exe
